# top-level deps
d20~=1.0.1
Flask==1.1.2
Flask-Cors==3.0.10
Flask-PyMongo==2.3.0
gunicorn==23.0.0
pydantic==1.9.0
PyJWT==2.4.0
redis==3.5.3
requests==2.25.1
sentry-sdk[flask]==1.0.0
git+https://github.com/avrae/automation-common@v4.2.0

# transitive deps
Werkzeug==2.0.3
itsdangerous==2.0.1
jinja2<3.1.0

# build/other deps
pymongo==4.7.3
wheel==0.36.2  # dep install

# pre-commit & formatting deps
pre-commit==2.17.0
black==24.8.0

# datadog support
ddtrace~=2.17.3