# top-level deps
d20~=1.0.1
Flask==1.1.2
Flask-Cors==3.0.10
Flask-PyMongo==2.3.0
gunicorn==20.1.0
newrelic==6.2.0.156
pydantic==1.8.1
PyJWT==2.0.1
redis==3.5.3
requests==2.25.1
sentry-sdk[flask]==1.0.0

# transitive deps
Werkzeug==1.0.1

# build/other deps
dnspython==2.1.0  # pymongo srv
wheel==0.36.2  # dep install
