# top-level deps
d20~=1.0.1
Flask==1.1.2
Flask-Cors==3.0.10
Flask-PyMongo==2.3.0
gunicorn==20.1.0
pydantic==1.9.0
PyJWT==2.4.0
redis==3.5.3
requests==2.25.1
sentry-sdk[flask]==1.0.0
git+https://github.com/avrae/automation-common@v4.1.5

# transitive deps
Werkzeug==2.0.3
itsdangerous==2.0.1
jinja2<3.1.0

# build/other deps
dnspython==2.1.0  # pymongo srv
pymongo<4.0.0  # Flask-PyMongo does not specify version and 4.0 has breaking changes
wheel==0.38.1  # dep install

# pre-commit & formatting deps
pre-commit==2.17.0
black==22.1.0
